extends layout

block content
  .title Manage inputs
  .labels-b
    //- .name Input categories
    form(action="input", method="POST")
      #labels
        each val in categories.split("\n")
          input.label(value=val)
      input#add(type="button", value="Add one more +")
      input(type="submit", value="save")
  //- .input
  //- form(action="input", method="POST")
  //-   textarea#categories(name="categories", cols="200", rows="20")
  //-     each val in categories
  //-       = val
  //-   button(type="submit") Submit!
  script.
    var colors = ['#ff000033', '#00ff0033', '#00aaff33', '#ffaa0033', '#00ffaa33', '#aa00ff33', '#ff00aa33', '#aaff0033', '#0000ff33','#ff000033', '#00ff0033', '#0000ff33'];
    var els = document.getElementById('labels').childNodes;
    els.forEach((el, i) => el.style.backgroundColor =  colors[i]);
    document.getElementById('add').addEventListener('click', function(event){
      let label = document.createElement('input')
      label.classList.add('label')
      label.style.backgroundColor = colors[document.getElementById('labels').childNodes.length]
      document.getElementById('labels').append(label)
    })