* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

ol, ul {
  list-style-position: inside; }

.header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #343434; }
  .header .menu {
    display: flex;
    flex-direction: row;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 200px; }
    .header .menu .item {
      color: white;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid white;
      border-right: 1px solid white;
      cursor: pointer;
      text-decoration: none; }
      .header .menu .item:hover {
        font-weight: bold; }

.content {
  width: 100%; }

.title {
  width: 100%;
  padding: 20px;
  font-size: 28px;
  text-align: center; }

.grid {
  display: grid;
  width: 960px;
  margin: auto;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 30px; }
  .grid .item {
    height: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    padding-bottom: 10px; }
    .grid .item .name-b {
      display: flex;
      flex-direction: row;
      font-size: 1.1rem;
      width: 100%;
      padding: 10px 32px;
      text-transform: capitalize; }
      .grid .item .name-b .name {
        flex-grow: 1;
        text-decoration: none;
        color: black; }
      .grid .item .name-b .count {
        flex-grow: 1;
        text-align: right; }
    .grid .item .articles {
      width: 100%;
      overflow-y: scroll;
      padding: 10px; }
      .grid .item .articles .article {
        text-decoration: none;
        color: black;
        cursor: pointer;
        display: block;
        margin: 10px 5px; }

.labels-b {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; }
  .labels-b form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .labels-b form > div {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .labels-b form .label {
      border: none;
      margin: 3px;
      border: 3px solid transparent;
      text-align: center;
      font-size: 25px;
      padding: 10px; }
      .labels-b form .label:focus {
        background-color: white; }
    .labels-b form #add {
      width: 100%;
      cursor: pointer;
      background: white;
      padding: 10px;
      font-size: 20px;
      color: #4444FF;
      border: 1px dashed #4444FF;
      margin-bottom: 20px; }
    .labels-b form input[type='submit'] {
      width: 100%;
      height: 50px;
      font-size: 25px; }

.category-b {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 1000px;
  margin: auto; }
  .category-b .left {
    margin-right: 40px;
    outline: 1px solid blue;
    flex-grow: 1;
    flex-basis: 1px;
    height: 100%;
    overflow-y: auto; }
    .category-b .left .title {
      font-size: 24px;
      padding: 20px; }
    .category-b .left .list-b {
      background-color: #f0f0f0; }
      .category-b .left .list-b ol li {
        cursor: pointer;
        padding: 15px;
        border-bottom: 1px solid #e0e0e0; }
        .category-b .left .list-b ol li p {
          text-decoration: none;
          text-align: right; }
        .category-b .left .list-b ol li:hover > span {
          text-decoration: underline; }
        .category-b .left .list-b ol li.active {
          font-weight: bold; }
  .category-b .right {
    outline: 1px solid green;
    flex-grow: 1;
    flex-basis: 1px;
    height: 100%; }
    .category-b .right .title {
      height: 150px; }

/*# sourceMappingURL=style.css.map */